$button-height: 3rem;
$button-width: 6rem;
$icon-dimension: calc($button-height * .7);
$icon-left-position: 20%;
$button-background-color: #EFF1F4;
$like-button-pressed-background-color: #FFEDED;
$like-icon-background-color: #ED253A;

body {
    background-color: black;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: max-content;
    background-color: white;
}

@mixin reusable-before-after-container($width, $height: $width) {
    position: absolute;
    content: "";
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@mixin center-along-y-axis() {
    top: 50%;
    transform: translateY(-50%);
}

// @mixin change-width-and-height($width, $height: $width, $initial-width: null) {
//     width: $width;
//     height: $height;

//     $width-difference: ($width - $icon-dimension) / 2;
//     left: calc($icon-left-position - $width-difference);
// }

.like-button {
    background-color: $button-background-color;
    width: $button-width;
    height: $button-height;
    border-radius: calc($button-height * 0.5);
    outline: none;
    border: none;
    position: relative;

    &::before {
        z-index: 1;
        visibility: hidden;
        @include reusable-before-after-container($icon-dimension);
        @include center-along-y-axis();
        left: $icon-left-position;
        background-color: $like-icon-background-color;
        border-radius: 50%;
    }

    &::after {
        z-index: 2;
        @include reusable-before-after-container($icon-dimension);
        @include center-along-y-axis();
        left: $icon-left-position;
        background-image: url(../icons/heart.svg);
        filter: invert(1) brightness(.8);
    }
    

    &.pressed {
        background-color: $like-button-pressed-background-color;
        &::before {
            visibility: visible;
            width: calc($icon-dimension);
            animation: red-circle-animation 1.2s ease-out both;
            // @include change-width-and-height(calc(.15 * $icon-dimension));
            // @include change-width-and-height(calc(1.15 * $icon-dimension));
            // @include change-width-and-height(calc(1 * $icon-dimension));
        }
        &::after {
            visibility: hidden;
            background-image: url(../icons/heart-filled.svg);
            filter: brightness(0) invert(1);
        }
    }
}


