$button-height: 3rem;
$button-width: 6rem;
$icon-dimension: calc($button-height * .7);
$icon-left-position: 20%;
$button-background-color: #EFF1F4;
$like-button-pressed-background-color: #FFEDED;
$like-icon-background-color: #ED253A;

body {
    background-color: black;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: max-content;
    background-color: white;
}

@mixin center-absolutely() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin scale-center($scale) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale($scale);
}


.like-button {
    background-color: $button-background-color;
    width: $button-width;
    height: $button-height;
    border-radius: calc($button-height * 0.5);
    outline: none;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .button-content {
        display: flex;
        width: 70%;
        justify-content: space-between;
        
        .icon-container {
            aspect-ratio: 1 / 1;
            width: $icon-dimension;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            
            .icon-background, .icon-foreground {
                @include center-absolutely();
                aspect-ratio: 1 / 1;
                width: 100%;
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            
            .icon-foreground {
                background-image: url(../icons/heart.svg);
                filter: invert(1) brightness(.5) ;
                z-index: 5;
            }
            
            .icon-background {
                opacity: 0;
                z-index: 4;
            }
            
        }
        
    }
    
    &.pressed {
        background-color: $like-button-pressed-background-color;
        .button-content {
            .icon-container {
                .icon-foreground {
                    background-image: url(../icons/heart-filled.svg);
                    filter: brightness(0) invert(1);
                    width: 100%;
                    @include scale-center(.65);
                    animation: scale-icon-foreground .2s ease-out both;
                }
        
                .icon-background {
                    opacity: 1;
                    background: red;
                    border-radius: 50%;
                    animation: scale-icon-background .2s ease-out both;
                }
            }
        }

    }
}

@keyframes scale-icon-background {
    0%, 100% {
        width: 100%; // Initial width for both 0% and 100%
    }
    50% {
        width: 115%; // Increase width by 15% at 50%
    }
}


@keyframes scale-icon-foreground {
    0% {
        width: 100%;
    }
    20% {
        width: 100%;
    }
    40% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}


