body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

main {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    .list-container {
        margin-top: 20px;

        button {
            background-color: #604184;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        
            &:hover {
                background-color: #503474;
            }
        }
        
        ul {
            margin-top: 20px;
            padding-left: 20px;
            text-align: left;
    
            li {
                list-style-type: disc;
                padding: 5px 0;
            }
        }
    }
}

