/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #20232a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.notification-container {
    display: inline-block;
    position: fixed;
    right: 8vw;
    top: 5vh;
}

/* Notification bell icon */
.notification-icon {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bell-icon {
    width: 24px;
    fill:#cecece;
}


.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
}

/* Notification list */
.notification-list {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #6a00ff;
    border-radius: 8px;
    width: 150px;
    padding: 10px;
    display: none; /* Hidden by default */
    list-style: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.notification-list li {
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.notification-list li span {
    margin-left: 10px;
}

/* Hover effect */

.notification-container:hover .notification-list {
    display: block; /* Show the list on hover */
}

/* .notification-container:hover .notification-icon
{
    width: 150px;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
} */

.notification-list li:hover {
    background-color: #a500ff;
}
