@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$body-background-color: #20232a;

$notification-primary-color: #b612fd;
$notification-secondary-color: white;
$notification-circle-diameter: 3.5rem;
$notification-counter-font-size: 1rem;
$notification-appearing-timing: .3s;

body {
    background-color: $body-background-color;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.notification-container {
    display: block;

    position: fixed;
    right: 2rem;
    top: 2rem;

    .bell-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        aspect-ratio: 1 / 1;
        width: $notification-circle-diameter;
        border-radius: 50%;

        background-color: $notification-secondary-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        cursor: pointer;
        
        i {
            font-size: calc($notification-circle-diameter * .5);
            
            color: #cecece;
        }

        .notification-count {
            display: flex;
            align-items: center;  
            justify-content: center;

            position: absolute;
            top: -1px;
            right: -1px;

            font-size: $notification-counter-font-size;
            aspect-ratio: 1 / 1;
            width: calc($notification-counter-font-size + .6rem);
            border-radius: 50%;
            
            color: white;
            background-color: red;
        }
    }

    .notifications-list-container {
        visibility: hidden;

        position: absolute;
        top: calc($notification-circle-diameter + 1rem);
        right: 0;

        background-color: white;

        width: 15rem;
        height: calc-size(auto);
        border-radius: 10px;
        padding: .8rem 0;
        
        transition: height $notification-appearing-timing ease;

        counter-reset: item-place;

        .notification-item {
            display: flex;
            align-items: center;
            position: relative;

            color: black;

            border-radius: 10px;
            padding: .8rem 1rem;

            counter-increment: item-place;

            overflow: hidden;
            cursor: pointer;

            animation: notification-appearing-animation $notification-appearing-timing ease-in-out;
            transition: transform .2s ease;

            @keyframes notification-appearing-animation {
                0% {
                    transform: scale(.5);
                }
                70% {
                    transform: scale(1.15);
                }
                100% {
                    transform: scale(1);
                }
                
            }

            &::before {
                content: counter(item-place);

                display: block;
                text-align: center;
                
                margin-right: .8rem;

                color: $notification-secondary-color;
                background-color: $notification-primary-color;

                aspect-ratio: 1 / 1;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;

                font-weight: 500;
            }

            &:hover {
                color: white;
                background-color: $notification-primary-color;
                transform: scale(1.1);

                i {
                    color: white;
                }
            }

            &.in-removal {
                animation: notification-disappearing-animation .4s ease forwards;

                @keyframes notification-disappearing-animation {
                    0% {
                        transform: scale(1.1);
                        opacity: 1;
                    }
                    100% {
                        transform: scale(.3);
                        opacity: 0;
                    }
                    
                }
            }


        }





        &::before {
            visibility: hidden;

            content: "";
            position: absolute;

            background: transparent;

            top: -2rem;
            height: 4rem;
            width: 14rem;
            z-index: -1;
        }

        i {
            margin-left: auto;
            color: red;
            font-size: 1.2rem;
        }

    }

    &:hover .notifications-list-container::before {
        visibility: visible;
    }

    &:hover .notifications-list-container,
    .notification-container:hover {
        visibility: visible;
    }
}

#notification-stop-start-button {
    cursor: pointer;
    padding: .5rem .8rem;
    font-size: 1.4rem;
    border-radius: 10px;
    outline: none;
    border: none;

    &:hover {
        transform: scale(1.01);
    }

    &:active {
        transform: scale(.99);
    }
}