* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

header, main, footer
{
    width: 90%;
    margin: 1rem auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
}

.logo {
    height: 3rem;
    flex-shrink: 0;
}


nav
{
    flex-grow: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
    }
    
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    }


nav ul li a:hover {
    color: blue;
}

main
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

section
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article
{
    padding: 1rem 2rem;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
}

.movieshots-gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieshots-gallery img
{
    height: 15rem
}


aside
{
    flex: 0 0 30%;
    padding: 1rem 2rem;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
}

.aside-gallery
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: start;
    row-gap: 1rem;
}

.aside-gallery img
{
    width: 10rem;
}

footer
{
    padding: 1rem 2rem;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid lightblue;
    padding-bottom: 0.5rem;
    line-height: 1.2;
}

@media (max-width: 800px)
{
    main
    {
        flex-direction: column;
    }
}