@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.displayedProductList .item {
  background-color: #93785B !important;
}
.displayedProductList .item h2 {
  color: black !important;
  color: white !important;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #d6d3c6;
}
body.showCart .cartTab {
  top: 0;
  right: 0;
  bottom: 0;
}

.sort-filter {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0rem;
  gap: 1rem;
  background-color: #332e29;
  color: #eee;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sort-filter .sort,
.sort-filter .filter {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.sort-filter .sort label,
.sort-filter .filter label {
  margin-right: 0.5rem;
  font-weight: 500;
}
.sort-filter .sort select,
.sort-filter .sort input,
.sort-filter .filter select,
.sort-filter .filter input {
  margin-right: 0.5rem;
  padding: 0.25rem;
  background-color: #eee;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.sort-filter .sort input,
.sort-filter .filter input {
  max-width: 20vw;
}
.sort-filter .sort button,
.sort-filter .filter button {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  background-color: #93785B;
  color: #eee;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.sort-filter .sort button:hover,
.sort-filter .filter button:hover {
  background-color: #836b51;
}
.sort-filter .sort button:active,
.sort-filter .filter button:active {
  transform: scale(0.98);
}
.sort-filter .sort select,
.sort-filter .filter select {
  margin-right: 0.5rem;
  padding: 0.25rem;
  background-color: #eee;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.sort-filter .sort select option,
.sort-filter .filter select option {
  background-color: #f5f5f5;
  color: #333;
}
.sort-filter .sort select option:hover,
.sort-filter .filter select option:hover {
  background-color: #93785B;
  color: white;
}
.sort-filter .sort select:hover,
.sort-filter .filter select:hover {
  background-color: #ddd;
}
.sort-filter .sort label[for=minPrice], .sort-filter .sort label[for=maxPrice],
.sort-filter .filter label[for=minPrice],
.sort-filter .filter label[for=maxPrice] {
  margin-right: 0.2rem;
}

.primaryContainer {
  position: relative;
  width: 900px;
  max-width: 90vw;
  padding-top: 0.8rem;
  transition: transform 0.5s;
}
.primaryContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: #93785B;
}
.primaryContainer header .iconCart {
  position: relative;
  cursor: pointer;
}
.primaryContainer header .iconCart svg {
  width: 2rem;
}
.primaryContainer header .iconCart .cartIconCounter {
  display: flex;
  width: 1.4rem;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 0.8rem;
  background: #3d2e1e;
  color: white;
  position: absolute;
  top: -13px;
  right: -9px;
}

.displayedProductList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.displayedProductList .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  background-color: #eeeee6;
  padding: 1.25rem;
  border-radius: 1.25rem;
}
.displayedProductList .item h2 {
  font-weight: 500;
  font-size: large;
}
.displayedProductList .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px rgba(0, 0, 0, 0.6));
}
.displayedProductList .item .price {
  letter-spacing: 0.5rem;
  font-size: small;
  font-size: 1rem;
}
.displayedProductList .item button {
  background-color: #353432;
  color: #eee;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}
.displayedProductList .item button:hover {
  background-color: #282726;
}
.displayedProductList .item button:active {
  transform: scale(0.98);
}

.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  display: grid;
  top: 0;
  right: -400px;
  bottom: 0;
  grid-template-rows: 70px 1fr auto 70px;
  transition: 0.5s;
}
.cartTab .firstRow {
  display: flex;
  width: 100%;
  padding-right: 1rem;
  align-items: baseline;
  justify-content: space-between;
}
.cartTab .firstRow h1 {
  display: inline;
  padding: 1.25rem;
  margin: 0;
  font-weight: 500;
}
.cartTab .firstRow .clear {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  color: rgb(255, 0, 0);
}
.cartTab .totalContainer {
  display: flex;
  width: 100%;
  padding: 0.2rem 0.6rem;
  justify-content: flex-end;
  height: -moz-max-content;
  height: max-content;
}
.cartTab .totalContainer span {
  font-size: 2rem;
}
.cartTab .cartButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .cartButtons button {
  flex-grow: 1;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
.cartTab .cartButtons button.checkOut {
  background-color: #93785B;
}
.cartTab .cartButtons button.clear {
  background-color: #e81c0e;
}

.cartTab .cartList {
  overflow: auto;
}
.cartTab .cartList::-webkit-scrollbar {
  width: 0;
}
.cartTab .cartList .item {
  display: grid;
  grid-template-columns: 70px 150px 50px auto;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}
.cartTab .cartList .item img {
  width: 100%;
}
.cartTab .cartList .item .quantity {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.cartTab .cartList .item .quantity span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 1.1rem;
}
.cartTab .cartList .item .quantity span.minus, .cartTab .cartList .item .quantity span.plus {
  cursor: pointer;
  background-color: #eee;
  font-size: 0.1rem;
}
.cartTab .cartList .item .quantity span.minus i, .cartTab .cartList .item .quantity span.plus i {
  color: #616161;
  font-size: 0.8rem;
  position: relative;
}
.cartTab .cartList .item .quantity span.trash {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.5rem;
}
.cartTab .cartList .item .quantity span.itemQuantityCounter {
  font-size: 1.2rem;
  margin: 0 0.3rem;
}
.cartTab .cartList .item:nth-child(even) {
  background-color: #574e3d;
}

@media (max-width: 1200px) {
  .displayedProductList {
    grid-template-columns: repeat(3, 1fr);
  }
  .primaryContainer {
    width: 850px;
  }
}
@media (max-width: 900px) {
  .displayedProductList {
    grid-template-columns: repeat(2, 1fr);
  }
  .primaryContainer {
    width: 800px;
  }
  .sort-filter {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .displayedProductList {
    grid-template-columns: 1fr;
  }
  .primaryContainer {
    width: 750px;
  }
}/*# sourceMappingURL=task11_12.css.map */